.benefit {
    color: rgb(52, 201, 199); /* Change 'red' to the desired color value */
}

.list-items {
  text-align: left;
}

.list-items ul li {
  padding-left: 0px; /* Adjust the padding as needed */
}

.code-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space evenly between code blocks */
}

.code-block {
  display: inline-block;
  width: 50%; /* Adjust the width as needed for your desired side-by-side layout */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10%; /* Add padding for spacing between code blocks */
  overflow: auto; /* Enable horizontal scrolling for long lines of code */
}

h2.slide-header {
  color: #5d666e
}

h3.slide-sub-header {
  color: #a1c1c4; /* Replace #FF0000 with the color of your choice */
}

.container {
  display: flex;
}

.image {
  padding: 10px; /* Add some padding for spacing */
}

.text {
  padding: 10px;
  text-align: left; /* Left-align the text within the text div */
}

div.slide-main-content {
  text-align: left;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.text-and-image {
  text-align: center;
  vertical-align: top;
  width: 33.33%; /* Set to 33.33% for equal-width columns */
}

.text-and-image p {
  text-align: left;
  font-size: 60%;
  margin: 10px 0; /* Add spacing between text and image */
}

.text-and-image img {
  width: 100%; /* Ensure all images have the same width */
  height: auto; /* Maintain aspect ratio */
}